/* Navbar */

.main-header {
    width: 100%;
    z-index: 100;
}

.main-header nav {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: transparent;
    z-index: 99;
}

.main-header nav .navbar {
    height: 100%;
    width: 85%;
    display: flex;
    align-items: center;
    margin: auto;
}

.main-header .navbar .menu-holder mat-icon {
    color: #304973;
    font-size: 24px;
    height: 24px;
    width: 24px;
}

.main-header nav .navbar .navbar-links a {
    margin-right: 30px;
    font-family: 'Montserrat-Regular';
    color: #2492D1;
}

.main-header nav .navbar .navbar-links a:hover {
    border-bottom: #304973 4px solid;
}

.main-header .navbar .logo {
    display: block;
    width: 160px;
}

.main-header .navbar .logo img {
    width: 160px;
}

.main-header .navbar .buttons {
    display: flex;
}

.main-header .navbar .buttons a {
    border: 0;
    padding: 8px 20px;
    outline: 0;
    border-radius: 10px;
    background-color: #304973;
    color: #ffffff;
    font-family: 'Montserrat-SemiBold';
    font-size: 16px;
    text-decoration: none;
}

.main-header .navbar .buttons a.blog-btn {
    background-color: transparent;
    color: #2492D1;
    border: none;
}

.main-header .navbar .mobile-menu {
    margin-right: 10px;
}

.main-header .navbar .mobile-menu mat-icon {
    font-size: 30px;
    color: #304973;
    width: 100%;
    cursor: pointer;
}

.main-header .navbar .mobile-menu {
    display: none;
}

.mobile-header {
    position: absolute;
    width: calc(100% - 20px);
    margin: 10px;
    top: 0;
    z-index: 100;
    background-color: #2492D1;
    box-shadow: 6px 0px 25px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 6px 0px 25px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 6px 0px 25px 0px rgba(0, 0, 0, 0.15);
}

.mobile-header .navbar {
    display: block;
}

.mobile-header .navbar .navbar-links a div {
    border-bottom: 1px #CCD1D1 solid;
    padding: 10px 20px;
}

.mobile-header .navbar .navbar-links a {
    font-family: "Montserrat-Regular";
    font-size: 16px;
    color: #fff;
}

.mobile-header .navbar .navbar-links mat-icon {
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    margin-right: 20px;
    margin-top: 10px;
}

@media screen and (max-width: 1100px) and (min-width: 769px) {
    .main-header .navbar .navbar-links {
        display: none;
    }
    .main-header .navbar .buttons {
        display: none;
    }
    .main-header .navbar .mobile-menu {
        display: block;
    }
}

@media screen and (max-width: 768px) and (min-width: 481px) {
    .main-header .navbar .logo {
        display: block;
        width: 100px;
    }
    .main-header .navbar .logo img {
        width: 100px;
    }
    .main-header .navbar .buttons a {
        font-size: 12px;
        padding: 8px 28px;
    }
    .main-header .navbar .navbar-links {
        display: none;
    }
    .main-header .navbar .buttons {
        display: none;
    }
    .main-header .navbar .mobile-menu {
        display: block;
    }
}

@media screen and (max-width: 480px) {
    .main-header nav {
        height: 130px;
    }
    .main-header .navbar {
        display: flex;
        justify-content: space-between;
    }
    .main-header .navbar .logo {
        display: block;
        text-align: left;
        margin-left: 20px;
        width: 130px;
        height: 130px;
    }
    .main-header .navbar .logo img {
        width: 130px;
        height: 130px;
    }
    .main-header .navbar .buttons {
        display: none;
    }
    .main-header .navbar .navbar-links {
        display: none;
    }
    .main-header .navbar .buttons {
        display: none;
    }
    .main-header .navbar .mobile-menu {
        display: block;
    }
    .main-header .navbar .menu-holder {
        margin-right: 15px;
    }
    .main-header .navbar .menu-holder mat-icon {
        font-size: 30px;
        width: 30px;
        height: 30px;
    }
    .main-header nav .navbar {
        width: 100%;
        text-align: center;
    }
    .main-header nav .navbar .buttons {
        justify-content: space-between;
    }
    .main-header nav .navbar .buttons a {
        width: 49%;
        margin: 0;
        text-align: center;
    }
}

.calendly-inline-widget {
    margin-top: 120px;
    height: 100vh;
}