/* Navbar Start*/

.main-header nav {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 180px;
    background: transparent;
    z-index: 99;
}

.main-header nav .navbar {
    height: 100%;
    width: 85%;
    display: flex;
    align-items: center;
    margin: auto;
}

.main-header .navbar .logo {
    display: block;
    width: 160px;
}

.main-header .navbar .logo img {
    width: 160px;
}

.main-header .navbar .buttons {
    display: flex;
}

.main-header .navbar .buttons a {
    border: 1px solid #2492D1;
    padding: 8px 20px;
    outline: 0;
    border-radius: 10px;
    border: 1px solid #304973;
    background-color: #304973;
    color: #ffffff;
    font-family: 'Montserrat-SemiBold';
    font-size: 16px;
    text-decoration: none;
}

.text-button a {
    color: #ffffff;
    font-size: 18px;
    font-family: 'Montserrat-Medium';
    padding: 12px 44px;
    border-radius: 5px;
    display: inline-block;
    transition: all 0.3s;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width: 768px) and (min-width: 481px) {
    .main-header .navbar .logo {
        display: block;
        width: 100px;
    }
    .main-header .navbar .logo img {
        width: 100px;
    }
    .main-header .navbar .buttons a {
        font-size: 12px;
        padding: 8px 28px;
    }
}

@media screen and (max-width: 480px) {
    .main-header nav .navbar {
        display: flex;
        justify-content: space-between;
        height: 50%;
        width: 85%;
    }
    .main-header .navbar .logo {
        display: block;
        text-align: left;
        margin-left: 10px;
        width: 100px;
    }
    .main-header .navbar .logo img {
        width: 100px;
    }
    .main-header .navbar .buttons {
        display: block;
        margin-right: 10px;
    }
    .main-header .navbar .buttons a {
        font-size: 12px;
        padding: 8px 28px;
    }
}


/* Navabar End */


/* Breadcrumbs Start */

.breadcrumbs {
    padding: 15px 0;
    background-color: #f3f8fa;
    min-height: 40px;
}

.breadcrumbs h2 {
    font-size: 28px;
    font-weight: 300;
}

.breadcrumbs ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}

.breadcrumbs ol li+li {
    padding-left: 10px;
}

.breadcrumbs ol li a {
    color: #3395d0;
    cursor: pointer;
}

.breadcrumbs ol li+li::before {
    display: inline-block;
    padding-right: 10px;
    color: #6c757d;
    content: "/";
}

@media (max-width: 768px) {
    .breadcrumbs .d-flex {
        display: block !important;
    }
    .breadcrumbs ol {
        display: block;
    }
    .breadcrumbs ol li {
        display: inline-block;
    }
}


/* Breadcrumbs End */


/* Blog Start */

.caption {
    font-family: 'Raleway-Regular' !important;
    font-size: 16px;
    margin-bottom: 35px;
}

.blog {
    padding: 40px 0 20px 0;
}

.blog .entry {
    padding: 30px;
    margin-bottom: 60px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.blog .entry .entry-img {
    max-height: 440px;
    margin: -30px -30px 20px -30px;
    overflow: hidden;
}

.blog .entry .entry-title {
    font-family: 'Montserrat-Medium';
    font-size: 28px;
    padding: 0;
    margin: 0 0 20px 0;
}

.blog .entry .entry-title a {
    color: #3395d0;
    transition: 0.3s;
}

.blog .entry-single {
    margin-bottom: 30px;
}

.blog .entry-single img {
    margin-bottom: 30px;
}

.blog .sidebar {
    padding: 30px;
    margin: 0 0 60px 20px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.blog .sidebar .sidebar-title {
    font-family: 'Montserrat-SemiBold';
    font-size: 20px;
    padding: 0 0 0 0;
    margin: 0 0 15px 0;
    color: #3395d0;
    position: relative;
}

.blog .sidebar .sidebar-item a {
    cursor: pointer;
}

.blog .sidebar .sidebar-item {
    margin-bottom: 30px;
}

.blog .sidebar .search-form form {
    background: #fff;
    border: 1px solid #ddd;
    padding: 3px 10px;
    position: relative;
}

.blog .sidebar .search-form form input[type=text] {
    border: 0;
    padding: 4px;
    border-radius: 4px;
    width: calc(100% - 40px);
}

.blog .sidebar .search-form form button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 15px;
    margin: -1px;
    background: #68A4C4;
    color: #fff;
    transition: 0.3s;
    border-radius: 0 4px 4px 0;
    line-height: 0;
}

.blog .sidebar .search-form form button mat-icon {
    color: #ffffff;
}

.blog .sidebar .search-form form button i {
    line-height: 0;
}

.blog .sidebar .search-form form button:hover {
    background: #77adca;
}

.blog .sidebar .categories ul {
    list-style: none;
    padding: 0;
}

.blog .sidebar .categories ul li+li {
    padding-top: 10px;
}

.blog .sidebar .categories ul a {
    font-family: 'Raleway-Regular';
    color: #000000;
    transition: 0.3s;
}

.blog .sidebar .categories ul a:hover {
    color: #68A4C4;
}

.blog .sidebar .categories ul a span {
    padding-left: 5px;
    color: #aaaaaa;
    font-size: 14px;
}

.blog .sidebar .recent-posts .post-item+.post-item {
    margin-top: 15px;
}

.blog .sidebar .recent-posts img {
    width: 80px;
    float: left;
}

.blog .sidebar .recent-posts h4 {
    font-family: 'Raleway-SemiBold';
    font-size: 15px;
    margin-left: 95px;
}

.blog .sidebar .recent-posts h4 a {
    color: #3395d0;
    transition: 0.3s;
}

.blog .sidebar .recent-posts h4 a:hover {
    color: #68A4C4;
}

.blog .sidebar .recent-posts time {
    display: block;
    margin-left: 95px;
    font-style: italic;
    font-size: 14px;
    color: #aaaaaa;
}

.blog .sidebar .tags {
    margin-bottom: -10px;
}

.blog .sidebar .tags ul {
    list-style: none;
    padding: 0;
}

.blog .sidebar .tags ul li {
    display: inline-block;
}

.blog .sidebar .tags ul a {
    font-family: 'Raleway-Regular';
    color: #3f8db5;
    font-size: 14px;
    padding: 6px 14px;
    margin: 0 6px 8px 0;
    border: 1px solid #e4eff5;
    display: inline-block;
    transition: 0.3s;
}

.blog .sidebar .tags ul a:hover {
    color: #fff;
    border: 1px solid #68A4C4;
    background: #68A4C4;
}

.blog .sidebar .tags ul a span {
    padding-left: 5px;
    color: #bedae8;
    font-size: 14px;
}

.author {
    font-family: 'Raleway-Regular';
}

.posted_date {
    font-family: 'Raleway-Regular';
}

.full-width {
    width: 100%;
}

.row mat-icon {
    font-size: 20px;
    color: #ABB2B9;
    margin-top: 1px;
}

.blog .entry .entry-content p {
    font-family: 'Raleway-Regular';
    line-height: 24px;
}

.blog .entry .entry-content .read-more {
    -moz-text-align-last: right;
    text-align-last: right;
}

.blog .entry .entry-content .read-more a {
    font-family: 'Raleway-Regular';
    display: inline-block;
    background: #3395d0;
    color: #fff;
    padding: 6px 20px;
    transition: 0.3s;
    font-size: 14px;
    cursor: pointer;
}

.blog .entry .entry-content .read-more a:hover {
    background: #7aafcb;
}

.blog .entry .entry-content h3 {
    font-size: 22px;
    margin-top: 30px;
    font-weight: bold;
}

.blog .entry .entry-content blockquote {
    overflow: hidden;
    background-color: #fafafa;
    padding: 60px;
    position: relative;
    text-align: center;
    margin: 20px 0;
}

.blog .entry .entry-content blockquote p {
    color: #444;
    line-height: 1.6;
    margin-bottom: 0;
    font-style: italic;
    font-weight: 500;
    font-size: 22px;
}

.blog .entry .entry-content blockquote::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 3px;
    background-color: #1e4356;
    margin-top: 20px;
    margin-bottom: 20px;
}


/* input outline color */

 ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: #EAECEE!important;
}


/* mat-input focused color */

 ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #EAECEE!important;
}

::ng-deep .ql-editor img {
    max-width: 100%;
    max-height: 600px;
}

::ng-deep p {
    font-family: 'Raleway-Regular' !important;
    font-size: 16px;
}

::ng-deep h1 {
    font-family: 'Montserrat-Medium';
    font-size: 36px;
    color: #2492D1 !important;
}

::ng-deep h2 {
    font-family: 'Montserrat-Medium';
    font-size: 32px;
    color: #2492D1 !important;
}

::ng-deep h3 {
    font-family: 'Montserrat-Medium';
    font-size: 28px;
    color: #2492D1 !important;
}

::ng-deep h4 {
    font-family: 'Montserrat-Medium';
    font-size: 24px;
    color: #2492D1 !important;
}

::ng-deep h5 {
    font-family: 'Montserrat-Medium';
    font-size: 20px;
    color: #2492D1 !important;
}

.mat-spinner-holder {
    display: flex;
    justify-content: center;
    margin: 50px 0 500px 0;
}

.mat-spinner-holder mat-spinner {
    margin-top: 100px;
}

::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
    stroke: #3395d0!important;
}


/* Blog End */