body {
    text-align: center;
    padding-top: 20vh;
}

body h1 {
    color: #304973;
    font-size: 55px;
    font-family: 'Montserrat-SemiBold';
    letter-spacing: 0.25px;
    margin-bottom: 15px;
}

body p {
    color: #304973;
    font-family: "Montserrat-Regular";
    font-size: 20px;
    letter-spacing: 0.25px;
    margin-bottom: 15px;
}

.buttons {
    margin-top: 35px;
}

body .home-btn {
    border: 1px solid #2492D1;
    padding: 12px 30px;
    outline: 0;
    border-radius: 20px;
    background-color: #304973;
    color: #ffffff;
    font-family: 'Montserrat-SemiBold';
    font-size: 16px;
    border: none;
    text-decoration: none;
}